* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

.tablero {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 100vh;
    display: block;
}

.casilla {
    width: 4vh;
    height: 4vh;
    margin: -1px;
    padding: 0px;
    font-size: 10px;
    border: 1px solid white;
    display: inline-block;
    overflow: hidden;
}

.edificio {
    background-color: gray;
}

.noValida {
    background-color: red;
}

.fila {
    width: 100%;
    padding: 0%;
    margin: -2px;
    box-sizing: border-box;
}